<h2>Desing Pattern</h2>
<div>
    <ul>
        <!-- <li>
            <a routerLink="strategy">Strategy</a>
        </li> -->
        <li>
            <h3>Creational</h3>
            <ul>
                <li><a routerLink="factory-method">Factory Method</a></li>
                <li><a routerLink="abstract-factory">Abstract Factory</a></li>
                <li><a routerLink="builder">Builder</a></li>
                <li><a routerLink="prototype">Prototype</a></li>
            </ul>
        </li>
        <li>
            <h3>Structural</h3>
            <ul>
                <li><a routerLink="singleton">Singleton</a></li>
                <li><a routerLink="bridge">Bridge</a></li>
                <li><a routerLink="decorator">Decorator</a></li>
                <li><a routerLink="composite">Composite</a></li>
            </ul>
        </li>
    </ul>
</div>
<div>
    <router-outlet></router-outlet>
</div>